{% extends "page.html" %}

{% block site %}

<h1>Egress {{egress["id"]}}: {{egress["status"]}}</h1>

<a href="{{reverse_url('home')}}">Home</a>

<h2>{{len(egress["files"])}} files</h2>
<table class="egress-file-list">
  <tr><th>file path</th><th>SHA256</th></tr>
{% for file in egress["files"] %}
  <tr><td>{{file["path"]}}</td><td>{{file["sha256sum"]}}</td></tr>
{% end %}
</table>

{% if is_reviewer %}
<h2>What do you want to do?</h2>
<form method="post">
<button type="submit" name="accept" value="accept">accept ✅</button>
<button type="submit" name="accept" value="reject">reject ❌</button>
<input type="hidden" name="_xsrf" value="{{xsrf_token}}"/>
</form>
{% end %}


{% if is_downloader %}
<h2>Download</h2>
<form method="post" action="download">
<button type="submit" name="download" value="download">Download 📥</button>
<input type="hidden" name="_xsrf" value="{{xsrf_token}}"/>
</form>
{% end %}

{% end %}
