body {
  font-family: Helvetica, Arial, sans-serif;
}

dt {
  font-weight: bold;
}

form label.section {
  display: block;
}
form button {
  margin: 1vh;
}

table.egress-file-list tr td {
  font-family: monospace;
  padding: 0 1vw;
}
table.egress-file-list tr th {
  padding: 0 1vw;
  text-align: left;
}

div.version-info {
  font-size: xx-small;
  text-align: right;
}
